html body {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px #312f2f;
}

body::after {
  content: "";
  background-image: url(images/forest1.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.location-icon {
  text-align: center;
  margin: 4rem 0.25rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.375rem;
}

.location-icon h1 {
  font-size: 3.4rem;
  margin-bottom: 0;
}

#currentDate {
  display: flex;
  flex-direction: row;
}

.temp {
  text-align: center;
  margin: 4rem 0.25rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.375rem;
}

#currentTemp {
  font-size: 4rem;
  margin: 20px 0;
}

 #weatherDescription {
  text-transform: capitalize;
}

ul li {
  list-style: none;
  margin: 6px;
}

div a #celsiusFahrenheit {
  font-size: 1.2rem;

}

#celsius {
  color: white;
}

#celsius:hover {
  color: rgb(103, 116, 84);
}

#fahrenheit {
  color: white;
}

#fahrenheit:hover {
  color: rgb(103, 116, 84);
}

.nav-toggle-bar {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 0.375rem;
}

.nav-toggle-bar-btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}

div .card {
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(20px);
}
div .card-body {
  text-align: center;
}

div .card-title {
  font-size: 1.5rem;
}

div .card-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div .card-subtext {
  font-size: 1.3rem;
}

div input[type="text"] {
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  text-shadow: 1px 1px 2px #312f2f;
}

div input[type="text"]::placeholder {
  color: white;
  text-shadow: 1px 1px 2px #312f2f;
}

input[type="text"]:focus {
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  text-shadow: 1px 1px 2px #312f2f;
}

button.button {
  background-color: rgb(103, 116, 84);
  border: rgb(182, 182, 182);
  color: white;
  text-shadow: 1px 1px 2px #312f2f;
}

button.button:hover {
  background-color: rgb(185, 194, 166);
}

.githubLink {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px #312f2f;
}

.githubLink a {
  color: rgb(103, 116, 84);
}

.githubLink a:hover {
  color: rgb(185, 194, 166);
}
